@*
    <h4 style="color: #28104E;">Time Table</h4>

    <table class="center" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="border: 1px solid black;">
                <br>
                <b>Day/Period</b>
            </td>
            <td style="border: 1px solid black;">
                <b>I<br>9:30-10:20</b>
            </td>
            <td style="border: 1px solid black;">
                <b>II<br>10:20-11:10</b>
            </td>
            <td style="border: 1px solid black;">
                <b>III<br>11:10-12:00</b>
            </td>
            <td style="border: 1px solid black;">
                <b>12:00-12:40</b>
            </td>
            <td style="border: 1px solid black;">
                <b>IV<br>12:40-1:30</b>
            </td>
            <td style="border: 1px solid black;">
                <b>V<br>1:30-2:20</b>
            </td>
            <td style="border: 1px solid black;">
                <b>VI<br>2:20-3:10</b>
            </td>
            <td style="border: 1px solid black;">
                <b>VII<br>3:10-4:00</b>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">
                <b>Monday</b>
            </td>
            <td style="border: 1px solid black;">PE</td>
            <td style="border: 1px solid black;">NT</td>
            <td style="border: 1px solid black;">DSD</td>
            <td rowspan="6" style="border: 1px solid black;">
                <h4>L<br>U<br>N<br>C<br>H</h4>
            </td>
            <td style="border: 1px solid black;">COA</td>
            <td style="border: 1px solid black;">NT</td>
            <td style="border: 1px solid black;">M3</td>
            <td style="border: 1px solid black;">DSD</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">
                <b>Tuesday</b>
            </td>
            <td colspan="3" style="border: 1px solid black;">
                DSD LAB
            </td>
            <td style="border: 1px solid black;">DSD</td>
            <td style="border: 1px solid black;">COA</td>
            <td style="border: 1px solid black;">PE</td>
            <td style="border: 1px solid black;">SPORTS</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;" align="center" height="50">
                <b>Wednesday</b>
            </td>
            <td>NT</td>
            <td>M3</td>
            <td>COA</td>
            <td>ED</td>
            <td style="border: 1px solid black;" colspan="3">
                LIBRARY
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">
                <b>Thursday</b>
            </td>
            <td style="border: 1px solid black;">ED</td>
            <td style="border: 1px solid black;">PE</td>
            <td style="border: 1px solid black;">M3</td>
            <td style="border: 1px solid black;" colspan="3">
                DSD LAB
            </td>
            <td style="border: 1px solid black;">COA</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">
                <b>Friday</b>
            </td>
            <td style="border: 1px solid black;" colspan="3" align="center"
                height="50">
                ED LAB
            </td>
            <td style="border: 1px solid black;">M3</td>
            <td style="border: 1px solid black;">PE</td>
            <td style="border: 1px solid black;">DSD</td>
            <td style="border: 1px solid black;">COA</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;" align="center" height="50">
                <b>Saturday</b>
            </td>
            <td style="border: 1px solid black;">ED</td>
            <td style="border: 1px solid black;">DSD</td>
            <td style="border: 1px solid black;">PE</td>
            <td style="border: 1px solid black;" colspan="3">
                SEMINAR
            </td>
            <td style="border: 1px solid black;">SPORTS</td>
        </tr>

    </table>

*@


<center><h3 style="color: #000000">Time Table</h3></center>
<table class="center" border="5" cellspacing="0" align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #000000 ">
    <tr>
        <td align="center" height="50"
            width="100">
            <br>
            <b>Day/Period</b></br>
        </td>
        <td align="center" height="50"
            width="100">
            <b>I<br>9:30-10:20</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>II<br>10:20-11:10</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>III<br>11:10-12:00</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>12:00-12:40</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>IV<br>12:40-1:30</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>V<br>1:30-2:20</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>VI<br>2:20-3:10</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>VII<br>3:10-4:00</b>
        </td>
    </tr>
    <tr>
        <td align="center" height="50">
            <b>Monday</b>
        </td>
        <td align="center" height="50">PE</td>
        <td align="center" height="50">NT</td>
        <td align="center" height="50">DSD</td>
        <td rowspan="6" align="center" height="50">
            <h4>L<br>U<br>N<br>C<br>H</h4>
        </td>
        <td align="center" height="50">COA</td>
        <td align="center" height="50">NT</td>
        <td align="center" height="50">M3</td>
        <td align="center" height="50">DSD</td>
    </tr>
    <tr>
        <td align="center" height="50">
            <b>Tuesday</b>
        </td>
        <td colspan="3" align="center"
            height="50">
            DSD LAB
        </td>
        <td align="center" height="50">DSD</td>
        <td align="center" height="50">COA</td>
        <td align="center" height="50">PE</td>
        <td align="center" height="50">SPORTS</td>
    </tr>
    <tr>
        <td align="center" height="50">
            <b>Wednesday</b>
        </td>
        <td align="center" height="50">NT</td>
        <td align="center" height="50">M3</td>
        <td align="center" height="50">COA</td>
        <td align="center" height="50">ED</td>
        <td colspan="3" align="center"
            height="50">
            LIBRARY
        </td>
    </tr>
    <tr>
        <td align="center" height="50">
            <b>Thursday</b>
        </td>
        <td align="center" height="50">ED</td>
        <td align="center" height="50">PE</td>
        <td align="center" height="50">M3</td>
        <td colspan="3" align="center"
            height="50">
            DSD LAB
        </td>
        <td align="center" height="50">COA</td>
    </tr>
    <tr>
        <td align="center" height="50">
            <b>Friday</b>
        </td>
        <td colspan="3" align="center"
            height="50">
            ED LAB
        </td>
        <td align="center" height="50">M3</td>
        <td align="center" height="50">PE</td>
        <td align="center" height="50">DSD</td>
        <td align="center" height="50">COA</td>
    </tr>
    <tr>
        <td align="center" height="50">
            <b>Saturday</b>
        </td>
        <td align="center" height="50">ED</td>
        <td align="center" height="50">DSD</td>
        <td align="center" height="50">PE</td>
        <td colspan="3" align="center"
            height="50">
            SEMINAR
        </td>
        <td align="center" height="50">SPORTS</td>
    </tr>



</table>